<script src="/ckeditor/ckeditor.js"></script>
<div class="container">
  <div class="card card-register mx-auto mt-5 mb-5" style="max-width: 50rem;">
    <div class="card-header text-center">Edit Post</div>
    <div class="card-body">
      <form action="/admin/posts/edit/{{post._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input class="form-control" name="title" id="title" type="text" value="{{post.title}}">
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" name="category" id="category">
            {{#each categorys}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label for="body">Post Body</label>
          <textarea class="form-control" name="body" id="body" rows="5">{{post.body}}</textarea>
        </div>
        <div class="form-group">
          <label for="featured">Featured</label>
          {{#if post.is_featured}}
            <input class="form-control" type="checkbox" name="featured" id="featured" checked>
          {{else}}
            <input class="form-control" type="checkbox" name="featured" id="featured">
          {{/if}}
        </div>
        <div class="form-group">
          <label for="cover_image">Cover Image</label>
          <input class="form-control" type="file" id="cover_image" style="display: none;">
          <input class="form-control" type="text" id="cover_image_pic" name="cover_image_pic" style="display: none;" value="{{post.cover_image}}">
          <br><a class="btn btn-primary text-white" onclick="clickOn('cover_image')"><i class="fa fa-upload"> Upload
              Cover Image</i></a>
          <img id="cover_image_preview" src="{{post.cover_image}}" alt="your image" />
        </div>
        <button type="submit" class="btn btn-info float-right">Update</button>
      </form>
    </div>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>

  CKEDITOR.replace('body');
  
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#cover_image_preview').attr('src', e.target.result);
        $('#cover_image_pic').attr('value', e.target.result);
        $('#cover_image_preview').attr('style', 'visibility: visible');
      }

      reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
  }

  function clickOn(id) {
    document.getElementById(id).click();
  }

  $("#cover_image").change(function () {
    readURL(this);
  });

  
  var x = document.getElementById('category');
  setSelectedValue(x, "{{post.category}}");

  function setSelectedValue(selectObj, valueToSet) {
    for (var i = 0; i < selectObj.options.length; i++) {
      if (selectObj.options[i].value == valueToSet) {
        selectObj.options[i].selected = true;
        return;
      }
    }
  }
</script>