<div class="container">

    <div class="row">

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Side Widget -->
            <div class="card my-4">
            <div class="card-body">
                <div class="col-12">
                    <ul class="list-group">
                        <a href="/profile/{{user._id}}"><li class="list-group-item">Detials</li></a>
                        <a href="/profile/edit/{{user._id}}"><li class="list-group-item">Edit</li></a>
                        <a href="/profile/change-password/{{user._id}}"><li class="list-group-item active">Change Password</li></a>
                        <a href="/blog/auth/logout"><li class="list-group-item">Logout</li></a>
                    </ul>
                </div>
            </div>
            </div>

        </div>

        <!-- Post Content Column -->
        <div class="col-lg-8">
            <div class="card card-register mx-auto mt-4 mb-2">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form action="/profile/change-password/{{loggedInUser._id}}" method="POST">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            {{#if error}}
                            <div class="col-md-12 alert alert-danger">
                                <h6>{{error}}</h6>
                            </div>
                            {{/if}}
                        
                            {{#if success}}
                            <div class="col-md-12 alert alert-success">
                                <h6>{{success}}</h6>
                            </div>
                            {{/if}}
                            <div class="col-md-12">
                                <label for="current_password">Current password</label>
                                <input class="form-control" type="password" name="current_password" id="current_password">
                            </div>
                            <div class="col-md-12">
                                <label for="new_password">New password</label>
                                <input class="form-control" type="password" name="new_password" id="new_password">
                            </div>
                            <div class="col-md-12">
                                <label for="retype_password">Retype New password</label>
                                <input class="form-control" type="password" id="retype_password">
                            </div>
                            <div class="col-md-12">
                                <label>&nbsp;</label>
                                <button type="submit" class="btn btn-primary btn-block">Update</button>
                            </div>
                            
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>