<div class="container">
    <div>
        <form action="/admin/comment" method="POST">
        <div class="form-group">
            <label>Selecet A post:</label>
            <select class="form-control" name="selected_post" id="selected_post">
                {{#each posts}}
                    <option value="{{_id}}">{{title}}</option>
                {{/each}}
            </select>
            <button type="submit" class="btn btn-primary mt-2 mb-2 float-right">Load Comments</button>
        </div>
        </form>
    </div>
    {{#if selected_post_id}}
        {{#if comments}}
            <h6>&nbsp;</h6>
        {{else}}
            <h6>No comments on this post</h6>
        {{/if}}
    {{/if}}
    
    {{#if comments}}
    <div class="table-responsive">
    <table class="table table-bordered table-hover text-center" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>User</th>
                <th>Comment body</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each comments}}
             
            <tr>
                <td>
                    <img src="{{user.profile_pic}}" style="height: 50px; width:50px; border-radius:50%">
                    <span>{{user.first_name}} {{user.last_name}}</span>
                </td>
                <td>{{comment_body}}</td>
                <td>
                    
                    <form action="/admin/comment/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="post_id" value="{{../selected_post_id}}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
    </div>
    {{/if}}
</div>

<script>
    //initialize selected post
    {{#if selected_post_id}}
        document.getElementById('selected_post').value= "{{selected_post_id}}";
    {{/if}}
</script>